* {
  margin: 0;
  background-color: #102531;
  color: blanchedalmond;
}


/* .mainTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
} */