* {
  margin: 0;
}

/* .mainTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
} */